p{
    background-color: aquamarine;
}
    a{
        background-color: rgb(203, 173, 173);
    }
    div{
        background-color:beige;
    }
    span{
        background-color: rgb(127, 178, 178);
    }